doctype html
html(lang="en")
  head
    title dirtylog
    link(href='/public/style.css', rel='stylesheet', type='text/css')
    link(rel="icon", type="image/png", href="/public/favi.png")
  body
    h1
      img(src="/public/logo.jpg", width="250", height="60")

    p.
      #{protocol}://#{host}/{key}
    p.
      #{protocol}://#{host}/log/{key}/{value}