doctype html
html(lang="en")
  head
    title dirtylogger
    link(href='/public/style.css', rel='stylesheet', type='text/css')
  body
    h1.
      Dirtylog

    p.
      #{protocol}://#{host}/{key}
    p.
      #{protocol}://#{host}/log/{key}/{value}